@import "tailwindcss";

:root {
  --background: #f3f3f3;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-montserrat);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f3f3f3;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  
}

@keyframes pendulum {
  0%   { transform: translateX(0px) rotate(-6deg); }
  50%  { transform: translateX(14px) rotate(6deg); }
  100% { transform: translateX(0px) rotate(-6deg); }
}

.animate-pendulum {
  transform-origin: top center;
  animation: pendulum 2.2s ease-in-out infinite;
  will-change: transform;
}
